<section style='height:100%'>
    <div id=toolbar__ID>
        <span id=msg__ID></span>
    </div>
    <textarea id=code__ID style='border:0 solid;overflow-y: scroll;'></textarea>
</section>
<script>
    function F__ID(){
        //--------------------------------------------------------
        $('#D__ID').on('load',function(){
            $('#msg__ID').text($vm.vm['__ID'].input.msg);
            var top1=$('#code__ID').offset().top;
            $('#code__ID').css("height",$('body').height()-top1-$('#'+$vm.root_layout_footer).outerHeight()-8);
            $('#code__ID').css("width",$(window).width()-5);
            var code=$vm.vm['__ID'].input.code;
            $('#code__ID').val(code)
        })
        //--------------------------------------------------------
    }
</script>
<style>
    #toolbar__ID{
        padding:6px;
        background-color:#ddd;
		color:#000;
        font-family: Helvetica, Arial, sans-serif;
        font-size:11pt;
        border-bottom: 1px solid #aaa;
    }
    #code__ID{
        white-space:nowrap;
		color:#000;
	    font-size:12px;
		line-height:15px;
	    font-family: Courier;
    }
</style>
