<div id=D__ID>
    <div>
        <div id=toolbar__ID class="navbar navbar-default">
            <form class="form-inline">
                <!--<button id=load__ID type=button class="btn btn-secondary" title='Load'>Load Code</button>-->
                <button id=run__ID type=button class="btn btn-secondary" title='Download'>Run</button>
                <button id=save__ID type=button class="btn btn-secondary" title='Save'>Save</button>
                password:&nbsp <input id=password__ID type=password title='Password' />
                <input id=Load_f__ID type=file style='display:none' />
            </form>
        </div>
        <div class="grid-container__ID">
            <div class="item1__ID" id=editor__ID></div>
            <div class="item2__ID" id=dragbar__ID></div>
            <div class="item__ID3" id=module__ID></div>
        </div>
    </div>
    <script>
        function F__ID(){
            var editor=null;
            var file_url="";
            var module_name="";
            //--------------------------------------------------------
            $('#D__ID').on('load',function(){
                url="";
                module_name="";
                if($vm['ace-js']!=1) return; 
                if(editor==null){
                    set_editor();
                }
                var input=$vm.module_list["__MODULE__"].input;
                if(input.url!=undefined) file_url=input.url;
                if(input.module_name!=undefined) module_name=input.module_name;
                if(input.code!=undefined){
                    editor.setValue(input.code,-1);
                    $('#run__ID').triggerHandler('click');
                }
            })
            //--------------------------------------------------------
            $vm.module_list["__MODULE__"].show=function(){
                document.title="Editor | "+$vm.default_title;
                $("meta[name='description']").attr("content","Editor");
            }
            //--------------------------------------------------------
            var set_editor=function(){
                editor=ace.edit("editor__ID");
                editor.setTheme("ace/theme/twilight");
                editor.getSession().setMode("ace/mode/html");
                editor.getSession().setUseWorker(false);
                editor.setOption("showPrintMargin", false)
                $("#editor__ID").css('height',($vm.min_height-50)+"px");
            }
            //--------------------------------------------------------
            var ready1=function(){
                set_editor();
                var apppath=window.location.href.substring(0, window.location.href.lastIndexOf('/')).split('\/?')[0];
		        var txt=localStorage.getItem(apppath+"_module_test_"+"_txt");

                if(txt!=null){
                    editor.setValue(txt);
                }
            }
            //--------------------------------------------------------
            var I=0; var loop_1=setInterval(function (){
                if($vm['ace-js']==1 ){  clearInterval(loop_1); ready1(); }
                I++; if(I>50){ clearInterval(loop_1); alert("ace.js error."); }
            },100);
            //--------------------------------------------------------
            $('#run__ID').on('click',function(){
                var nm="_module_test_"
                $vm.module_list[nm]={url:file_url}
                var code=editor.getValue();
                $('#module__ID').html('');
                $vm.load_content(nm,'module__ID',{},code);
            })
            //--------------------------------------------------------
            $('#save__ID').on('click',function(){
                var endpoint=window.location.protocol+"//"+window.location.hostname+":"+window.location.port;
                if(file_url==""){
                    $vm.alert("No file path.")
                }
                var path=file_url.replace(endpoint,"");
                var d={"path":path,"content":editor.getValue(),password:$('#password__ID').val()}
                var da=JSON.stringify(d);

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    console.log(this.readyState+" "+this.status);
                    if (this.readyState == 4 && this.status == 200){
                        $vm.alert(this.responseText);
                        var url=$vm.module_list[module_name].url;
                        var apppath=window.location.href.substring(0, window.location.href.lastIndexOf('/')).split('\/?')[0];
		                localStorage.removeItem(apppath+url+"_ver");
		                localStorage.removeItem(apppath+url+"_txt");
                    }
                }
                xmlHttp.open("POST", endpoint, true);
                xmlHttp.send(da);
            })
            //--------------------------------------------------------
            $('#load__ID').on('click',function(){   
                $('#Load_f__ID').val('');
                $('#Load_f__ID').trigger('click');
            })
            //--------------------------------------------------------
            $('#Load_f__ID').on('change',function(){
                var files=$(this)[0].files;
                if(files.length==1){
                    var reader=new FileReader();
                    reader.onload=(function(e) {
                        var contents=reader.result;
                        if(contents.substring(0,4)!="<div"){
                            alert("Not correct format.");
                            return;
                        }
                        editor.setValue(contents);
                    });
                    reader.readAsText(files[0]);
                }
            })
            //--------------------------------------------------------
            $('#dragbar__ID').mousedown(function(e){
                e.preventDefault();
                $(document).mousemove(function(e){
                    $('#editor__ID').css("width",e.pageX-3);
                })
            });
            $(document).mouseup(function(e){
                $(document).unbind('mousemove');
            });
            //--------------------------------------------------------
        }
    </script>
    <style>
        #D__ID{
            background-color:#fff;
            animation: vm_module_fadein 1.0s;
        }
        #toolbar__ID{
            background-color:#aaa;
            padding:5px 10px;
            margin-bottom:0px;
            overflow:hidden
        }
        #toolbar__ID button{
            margin-right:8px; 
        }
        .item1__ID { grid-area: left; width:500px;}
        .item2__ID { grid-area: d; width:5px}
        .item3__ID { grid-area: right; }

        .grid-container__ID {
        display: grid;
        grid-template-columns: auto auto 1fr;
        grid-template-areas:'left d right';
        }
        #dragbar__ID{
            background-color: #aaa;
            cursor: col-resize;
        }
    </style>
</div>